name: Test

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  linux:
    name: Linux
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
    strategy:
      matrix:
        branch:
          - ${{ github.head_ref }}
          - "main"
    steps:
      - uses: actions/checkout@v4

      - run: corepack enable
      - uses: actions/setup-node@v4
        with:
          node-version: "lts/*"
          cache: "yarn"

      - run: |
          yarn install --immutable
          yarn build
          yarn test:ci

      - name: Sanitize branch name
        run: |
          # Replace invalid characters with a dash '-'
          SANITIZED_BRANCH=$(echo "${{ matrix.branch }}" | sed 's/[\/\\:*?"<>|]/-/g')
          echo "SANITIZED_BRANCH=$SANITIZED_BRANCH" >> $GITHUB_ENV

      - name: Archive code coverage results
        uses: actions/upload-artifact@v4
        with:
          name: coverage-${{ env.SANITIZED_BRANCH }}
          path: coverage
